.author {
  font-weight: 700;
}
.item + .item {
  margin-top: 20px;
}
p {
  margin: 0;
  padding: 0;
}
.showMoreBtn {
  text-decoration: none;
  margin: 0;
  color: var(--blue);
}
.showMoreBtn:focus,
.showMoreBtn:hover {
  text-decoration: underline;
  color: var(--grey);
}
.showMoreBtnDiv {
  padding: 10px;
  background-color: var(--pale-green);
}
.text {
  margin: 0;
}
