.genreList {
  display: flex;
  list-style-type: none;
}
.genreListItem + .genreListItem {
  margin-left: 10px;
}
.img {
  width: calc((100% - 80px) / 4);
}
.movieCard {
  display: flex;
}
.textContainer {
  margin-left: 20px;
}
